hr
  margin 4em 0em

h1
  font-size 4em

h1, h2, h3, h4, h5, h6
  font-family 'Droid Serif', serif

p, ul, blockquote, footer, button
  font-family 'Ubuntu', sans-serif
  font-size 1.5em

p span
  font-style italic
  font-weight bold

header
  text-align center

img.testimonial:hover
  border 5px solid #e5e5e5 !important

hr
  clear both

.index h2
.index h3
.index h4
.index h5
.index h6
  text-align center

.index-icon
  height 10em
  width 10em
  margin-top 4em
  margin-left auto
  margin-right auto

h3.feature
  margin-top 1em
  margin-bottom 1em

.feature-text
  text-align justify

.index img
  margin-right auto
  margin-left auto

.index .col-xs-4
  margin-top 4em

.index-welcome p
  font-size 2em

.index-welcome
  text-align justify
  width 45em
  margin-top 2em
  margin-left auto
  margin-right auto

.index blockquote
  margin-top 2em
  font-size 1.5em
  border-left 0em

.index blockquote footer
  font-size 1em
  font-style italic
  text-align right

.plan-cost
  text-align center
  text-transform uppercase
  line-height 1em
  font-size 3.2em
  font-weight bold

.plan-cost:hover
  font-size 3.5em

h3.plan-name
  font-family 'Ubuntu', sans-serif
  font-size 2em
  text-transform uppercase
  letter-spacing .4em

p.plan-tagline
  font-style italic
  font-size 1.1em
  text-align center

.pricing ul
  margin 0em
  padding 0em
  font-size 1em
  color #bbb
  list-style-type none
  margin-top 4em
  text-align center

.pricing li
  font-size 1.6em

.get-started-box
  text-align center

.get-started-box p
  margin-left auto
  margin-right auto
  margin-top 2em
  width 30em
  text-align justify

.index-welcome .register-button
.index-welcome .login-button
  margin-top 2em
  margin-bottom 3em
  font-size 2em
  height 3em
  width 10em

.index-welcome .register-button
  float left

.index-welcome .login-button
  float right

.get-started
  margin-top 2em
  font-size 2em
  height 5em
  width 20em
  margin-bottom 4em

.get-started:hover
  font-weight bold

h1, h2, h3, h4, h5, h6
  font-family 'Droid Serif', serif

p
  font-family 'Ubuntu', sans-serif

footer
  text-transform capitalize

p span
  font-style italic
  font-weight bold
